Hi there, <%= @name %>,

Welcome to Clubhouse, a student-run unofficial website for EPFL.

Clubhouse is integrated with EPFL's Single Sign-On provider, Tequila. We do not store any passwords, your student account is your key to our services.

Your account has already been confirmed

Here are some things you can do to get started
  ⚖️ Read the code of conduct
  🏛️ Visit the forum
  💖 Give someone's post some love
  💥 Share the project with a friend
Clubhouse is an experiment, we rely on people like you to give it a boost so that it doesn't fizzle out!

– A friendly Clubhouse robot 🤖