<h1 class="mb-6 font-serif text-3xl font-semibold">
  Where are you off to?
</h1>
<p class="serif">
  We can't find what you're looking for. This page may have
  decided to take their mandatory break, or may be on holiday (and
  forgot to turn on their vacation auto-reply!). It's also
  possible that you may have mistyped something in the address
  bar?
</p>

<p class="mt-4 text-center text-xs">
  If you are contacted by a member of staff, show them these
  symbols: ✈️🌴🍹
</p>

<div class="mt-4 flex justify-center">
  <code class="text-xs font-bold">
    404 Not Found
  </code>
</div>
