<h1 class="mb-6 font-serif text-3xl font-semibold">
  That's too fast, Mike!
</h1>
<p class="serif">
  You need to slow down there, whatever you're doing, we can't
  seem to keep up with you! We've sent the monkeys to put out
  the fire, so just wait a bit before trying again.
</p>

<p class="mt-4 text-center text-xs">
  If you are contacted by a member of staff, show them these
  symbols: 🔥🚒🙈
</p>

<div class="mt-4 flex justify-center">
  <code class="text-xs font-bold">
    429 Too Many Requests
  </code>
</div>
