<nav class="h-32 flex justify-center">
  <div class="w-full max-w-3xl flex items-center">
    <div class="flex-1 inline-flex items-center">
      <a class="text-2xl mr-8" href={Routes.page_path(@conn, :index)}>
        <img class="h-10" src={Routes.static_path(@conn, "/images/clubhouse.svg")} />
      </a>
    </div>

    <%= render("_user_menu.html", assigns) %>
  </div>
</nav>
