<nav class="py-8 flex justify-center">
  <div class="w-full max-w-4xl">
    <a class="text-2xl mr-8" href={Routes.page_path(@conn, :index)}>
      <img class="h-10" src={Routes.static_path(@conn, "/images/clubhouse.svg")} />
    </a>
  </div>
</nav>
